#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.app__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.app__box {
    display: flex;
    flex-direction: row;
}